@{
    ViewBag.Title = "Home";

}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>SDFS</title>
<<<<<<< HEAD
    <link rel="stylesheet" href="~/Content/style.css" />
    <style>
       body
       {
           background-image: url(~/img/back.jpg);
       }
         .g {
=======
    <style>
    
         .ghh {
>>>>>>> 694e4ae47ce3c58ec8d8d1adbd4f14409b0a9950
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            background-size: 100% 100%;
            width: 100%;
            height: 700px;
        }
         html
         {
             margin:0;
         }
    </style>

</head>
<<<<<<< HEAD
<body >
    <div >
      <img class="g" src="~/img/back.jpg" />
=======
<body  >
    <div >
        <img class="ghh"  src="~/img/back.jpg" width="4224" height="3136" />
>>>>>>> 694e4ae47ce3c58ec8d8d1adbd4f14409b0a9950
    </div>
</body>
</html>