@model IEnumerable<AKSoft.Models.SupplierAccountModel>
@{
    ViewBag.Title = "كشف حساب مورد";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>كشف حساب مورد</h2>
<a href="@Url.Action("SaveSupplier", "Supplier")">تعريف مورد</a>
<table class="table table-bordered table-striped">
    <tr>
        <th>الكود</th>
        <th>إسم المورد</th>
        @*<th>مدين</th>
        <th>دائن</th>*@
        <th>إجمالي المشتريات</th>
    </tr>

   @foreach (var i in Model)
   {
    <tr>
        <td>@i.SupplierCode</td>
        <td>@i.SupplierName</td>
        <td>@i.Total</td>
    </tr>
   }
</table>


